<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.altraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master/masterlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<th:block layout:fragment="content">
    <div>
        <h1>New Food Order Registration Form</h1>
    </div>
    <form th:action="@{/orders/new}" th:object="${orders}" method="post">
        <fieldset>
            <legend>Supplier Registration Form</legend>
            <input type="hidden" th:value="${orders.id}" name="id">

            <div class="form-group">
                <label for="quantity">quantity</label>
                <input type="number" class="form-control" id="quantity" th:value="${orders.quantity}" name="quantity" min=1 max=5 required>
            </div>
            <div class="form-group">
                <label for="foodItem">Food Item</label>
                <select class="form-control" th:field="*{foodItem}"  id="foodItem"required>
                    <th:block th:each="Item: ${foodItems}">
                        <option  th:value="${Item.id}" th:text="${Item.foodName}"/>
                    </th:block>
                </select>
            </div>


            <div>
                <a href="#" class="btn btn-outline-warning">Cancel</a>
                <button class="btn btn-outline-success" type="submit">Save</button>

            </div>



        </fieldset>
    </form>



</th:block>

<th:block layout:fragment="footer"></th:block>

</body>
</html>